* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#logo {
  height: 7vh;
}
h5 {
  background-color: rgba(13, 14, 14, 0.527);
}

.lin {
  height: 5vh;
}
.imagencarr {
  height: 40vh;
  width: 100%;
}
.imagencarr2 {
  height: 50vh;
  width: 100%;
}
.card-title {
  height: 4vh;
}
.pcarr {
  background-color: rgba(13, 14, 14, 0.527);
}
.btn {
  height: 40px;
}
.card-img-top {
  height: 20vh;
}

.social {
  width: 2vw;
}
.dfooter {
  height: 10vh;
}
#tabla {
  border: solid;
}
.highlight {
  background-color: yellow; 
  font-weight: bold;
}
 @media (max-width: 320px) {
  .social {
    width: 10vw;
  }
  #pfooter {
    font-size: 0.6rem;
  }
  #navcontainer {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
  }
  .nav-item {
    border-radius: 10rem;
    margin-top: 10px;
  }
}
@media (max-width: 375px) {
  #navcontainer {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
  }
  .nav-item {
    border-radius: 10rem;
    margin-top: 10px;
  } 
}
@media (max-width: 426px) {
  #navcontainer {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
  }
  .nav-item {
    border-radius: 10rem;
    margin-top: 10px;
  }
  #ckeckscontainers {
    align-items: center;
    display: block;
    flex-direction: column;
    
  }
  .check-group{
    display: flex;
    flex-direction: column;
  }
}



